<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> gold_games</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="container">
    <label for="your gold"> Your gold</label>
    <input type="text">
    <div>
        <h1>Farm</h1>
        <p>(earns 10-20 gold)</p>
        <button>Find Gold</button>
    </div>
    <div>
        <h1>Cave</h1>
        <p>(earns 10-20 gold)</p>
        <button>Find Gold</button>
    </div>
    <div>
        <h1>House</h1>
        <p>(earns 10-20 gold)</p>
        <button>Find Gold</button>  
    </div>
    <div>
        <h1>Quest</h1>
        <p>(earns/takes 0-50 gold)</p>
        <button>Find Gold</button> 
    </div>
    <p>Activities:</p>
    <textarea name="activities" id="activities" cols="30" rows="10"></textarea>
</div>
</body>
</html>