<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <table>
        {% for i in range(0,number_of_rows) %}
        <tr> 
        {% for j in range(0,number_of_columns) %}
       {% if (i+j)%2 == 0 %}
       <td class="box1">Box1</td>
   
{% else %}
       <td class="box2">Box2</td>
        {%  endif %}
        {% endfor %}
     </tr>
    
        {% endfor %}



    </table>
</body>
</html>